:root {
  /* colors */
  --primary-color: #722ed1;
  --primary-color-varient: #7f41d6;
  --primary-accent-color-new: #f7f1ff;
  --primary-radient-color: #ddcbf6;
  --primary-accent-color: #f7f0ff;
  --secondry-color: #ffffff;
  --secondary-accent-color: #a6a6b8;

  /* text color */
  --primary-text-color: #160637;
  --secondry-text-color: #ffffff;

  /* fonts */
  --font-family-primary: "Poppins", sans-serif;
  --font-xs: clamp(1rem, 10vw, 3rem);

  --font-size-sm: 0.812rem;
  --font-size-md: 1rem;
  --font-size-xl: 1.5rem;

  /* Text */
  --font-weight-sm: 400;
  --font-weight-md: 500;
  --font-weight-normal: 600;
  --font-weight-xl: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
svg,
img,
picture {
  max-width: 100%;
  display: block;
}
body {
  height: 100%;
  width: 100%;
  font-family: var(--font-family-primary);
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--gray-color-);
  font-weight: var(--font-weight-md);
}
/* Container stylings */
.container {
  max-width: 1140px;
  margin-inline: auto;
  padding: 1rem;
  padding-top: 1.6rem;
  overflow: hidden;
}

/* utility Classes */
.flex-center {
  display: flex;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.gap-x-sm {
  gap: 0.7rem;
}
.gap-sm {
  gap: 1.5rem;
}
.gap-md {
  gap: 2rem;
}
.gap-lg {
  gap: 5rem;
}
.gap-xl {
  gap: 10rem;
}
.flex-wrap {
  flex-wrap: wrap;
}

/* btn styles */
.btn-primary {
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: var(--font-weight-sm);
}
.btn-primary:hover {
  background-color: var(--primary-color);
  color: var(--secondry-color);
  transition: 0.3s ease-in-out;
}
.btn-inverted {
  border: 2px solid var(--primary-color);
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: var(--font-weight-sm);
}
.btn-inverted:hover {
  background-color: var(--white-color);
  color: var(--secondary-color);
  transition: 0.3s ease-out;
  border: 2px solid var(--secondary-color);
}

/* navigation */
header {
  justify-content: space-between;
}
.nav-links:hover {
  color: var(--white-color);
  transition: 0.3s ease-out;
}
option {
  border-right-color: #722ed1;
}

/* left hero section */
.left-heading-text {
  background-color: var(--primary-accent-color-new);
  width: 18rem;
  padding: 0.6rem;
  border-radius: 2rem;
}
.left-heading-text p {
  font-size: 1.1rem;
  color: var(--primary-color-varient);
  font-weight: 600;
}
.left-heading-text span {
  text-decoration: underline;
  text-decoration-color: var(--primary-radient-color);
}

.left-hero {
  max-width: 50%;
}
