:root {
    /* colors */
    --primary-color: #111010;
    --secondary-color: #0C8BFD;
    --gray-color-: #292828;
    --yellow-color: #FAAE4B;
    --white-color: #FFFFFF;

    /* fonts */
    --font-family-primary: 'Epilogue', sans-serif;

    --font-size-primary: 1rem;
    --font-size-secondary: 0.812rem;

    /* Text */
    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-normal: 600;
    --font-weight-xl: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}
html,
body {
    height: 100%
}
html:focus-within {
    scroll-behavior: smooth;
  }
  body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;  
  }
ul[role='list'] {
  list-style: none;
}
svg, img,
picture {
  max-width: 100%;
  display: block;
}
