/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

/* Root - Reusables */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --primary-color: #5955B3;
    --white-color: #f1f5f9;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: gray;
}
/*-- Navbar Section --*/

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

}
.grow-list {
    align-items: flex-start;
}
.list {
    display: flex;
    gap: 2rem; 
}
.list-item {
    text-decoration: none;
    display: flex;
    
}
.nav-button {
    padding: 14px 20px;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    border: none;
    font-size: medium;

}
.nav-button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: 0.4s ease-out;
    border: 1px solid var(--primary-color);
}


/* --banner-container */

.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}   