@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* the content will stay inside the box */
    background: #F9F5ED;
    font-family: 'Poppins', sans-serif;
}
nav{
    padding: 20px 10%;
    height: 15vh;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 5%;
    font-weight: 500;
}

/* CSS for HERO Section */

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: -30px;
}

.leftmain{
    width: 40%;
}

.leftmain h1{
    font-size: 67px;
}

.leftmain p{
    margin: 5% 0;
}
.leftmain button{
    padding: 15px 20px;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
    color: white;
    font-weight: 500;
}
.rightmain{
    width: 60%;
}
.rightmain {
    margin-left: 7rem;
}
.first-hero-img {
    margin-right: 10px;
}
.second-hero-img {
    margin-top: 6px;
}