/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

/* Root - Reusables */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --primary-color: #5955B3;
    --white-color: #f1f5f9;
}
body {
    font-family: 'Orbitron', sans-serif;
}

/*-- Navbar Section --*/
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    margin-top: 15px;
}
.list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
    margin-right: 20rem;
    font-weight: 600;
}
li:nth-child(n+2) {
    color: #a1a1aa;
  }
.nav-button {
    padding: 14px 20px;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    border: none;
    font-size: medium;

}
.nav-button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
    transition: 0.4s ease-out;
    border: 1px solid var(--primary-color);
    font-weight: bold;
}

/* --banner-container */
