/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */

/* Root - Reusables */
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
:root {
    --primary-color: #5955B3;
    --white-color: #f1f5f9;
}
body {
    font-family: 'Orbitron', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: gray;
}

/*-- Navbar Section --*/
.navbar-container img {
    width: auto;
    height: 3rem;
    padding: 10px 10px;
}
.navbar-container, .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 9%;
}
.list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    gap: 50px;
    margin-left: 13rem;
    font-weight: 800;
    font-size: 1.3rem;
}
li:nth-child(1) {
    text-decoration: underline;
  }
.nav-button {
    padding: 4px 45px;
    border: 3px solid black;
    font-size: medium;
    border-radius: 12px;
    font-size: 1.3rem;
    color: gray;
    font-weight: 500;
}
.search-icon svg {
    height: 2rem;
    padding: 1.2rem;
}

/* --banner-container */

.hero-container {
    display: flex;
}
.square {
    position: absolute;
    z-index: -1;
    margin-left: 300px;

}

.star {
    position: relative;
    left: 48rem;
}
.globe {
    position: relative;
    left: 48rem;
}
.globe img {
    height: 3.5rem;
}
.hero-container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.hero-heading {
    height: 30px;
    text-align: center;
    font-size: 3rem;
    margin-top: -20%;
}
.hero-description {
    text-align: center;
    max-width: 70%;
    padding-top: 30px;
    font-size: 0.89rem;
    font-family: Arial, Helvetica, sans-serif;
}
.button-email {
    padding: 4px 45px;
    border: 3px solid black;
    font-size: medium;
    border-radius: 12px;
    font-size: 1.3rem;
    color: gray;
    font-weight: 500;
}